*{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(139, 132, 131);
}
.heading{
    margin: 20px;
    text-align: center;
}
.one{
    border: solid palevioletred;
    background-color: white;
    width: 300px;
    margin: 80px;
    padding: 50px;
    margin-left: 20%;

}
.two{
    border: solid cyan;
    background-color: white;
    width: 300px;
    margin: 80px;
    padding: 50px;
    margin-left: 20%;

}
.three{
    border: solid palevioletred;
    background-color: white;
    width: 300px;
    margin: 80px;
    padding: 50px;
    margin-left: 20%;

    
}
.four{
    border: solid cyan;
    background-color: white;
    width: 300px;
    margin: 80px;
    padding: 50px;
    margin-left: 20%;

    
   
}
.five{
    border: solid palevioletred;
    background-color: white;
    width: 300px;
    margin: 80px;
    padding: 50px;
    margin-left: 20%;

    
}
.six{
    border: solid cyan;
    background-color: white;
    width: 300px;
    margin: 80px;
    padding: 50px;
    margin-left: 20%;

}
p{
    background-color: white;
}
ul li{
    background-color: white;
    list-style-type: none;

}